@font-face {
  font-family: "FiraSans Medium";
  src: url(../../fonts/FiraSans-Medium.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Regular";
  src: url(../../fonts/FiraSans-Regular.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Bold";
  src: url(../../fonts/FiraSans-Bold.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Lignt";
  src: url(../../fonts/FiraSans-Light.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans Bold";
  src: url(../../fonts/openSans_bold.ttf);
  font-weight: normal;
  font-style: normal; }

body {
  position: relative; }

.hello {
  display: block;
  position: absolute;
  width: 100%;
  height: 1000px;
  top: 0px;
  z-index: 100;
  background: #f6f6f6;
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s; }

.hello_plate {
  width: 300px;
  height: 232px;
  background: #ffffff;
  margin: 220px auto;
  border-radius: 8px;
  padding: 0px; }
  @media screen and (max-width: 768px) {
    .hello_plate {
      width: 354px;
      height: 214px;
      margin-top: 368px; } }

.img_hello {
  position: relative;
  display: block;
  background: #ffffff;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 4px 0px #727272;
          box-shadow: 0px 0px 4px 0px #727272;
  margin: 0px auto;
  top: -70px; }
  @media screen and (max-width: 768px) {
    .img_hello {
      display: block;
      background: #ffffff;
      height: 104px;
      width: 104px;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 2px 0px #727272;
              box-shadow: 0px 0px 2px 0px #727272;
      top: -52px; } }

.hello_name, .hello_surname {
  font-family: "OpenSans Bold";
  font-size: 21px;
  line-height: 21px;
  color: #727272; }

.hello_name {
  position: relative;
  top: -70px;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 5px; }
  @media screen and (max-width: 768px) {
    .hello_name {
      top: -52px; } }

.hello_surname {
  position: relative;
  top: -70px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px; }
  @media screen and (max-width: 768px) {
    .hello_surname {
      top: -52px; } }

.hello_button_field {
  position: relative;
  top: -70px;
  background-color: #33c1e3;
  width: 100%;
  height: 78px;
  margin-top: auto;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    .hello_button_field {
      top: -52px; } }

.hello_button_goto {
  display: block;
  font-family: "FiraSans Bold";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  line-height: 36px;
  font-style: bold;
  width: 138px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 19px;
  background: #33c1e3;
  cursor: pointer; }

.hello_button_goto:hover {
  font-family: "FiraSans Bold";
  font-size: 14px;
  line-height: 14px;
  color: #33c1e3;
  line-height: 36px;
  font-style: bold;
  background: #ffffff; }

@font-face {
  font-family: "FiraSans Medium";
  src: url(../../fonts/FiraSans-Medium.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Regular";
  src: url(../../fonts/FiraSans-Regular.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Bold";
  src: url(../../fonts/FiraSans-Bold.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Lignt";
  src: url(../../fonts/FiraSans-Light.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans Bold";
  src: url(../../fonts/openSans_bold.ttf);
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f6f6f6; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px auto; }
  @media screen and (min-width: 1201px) {
    .container {
      max-width: 980px;
      padding: 0px 20px; } }
  @media screen and (max-width: 1200px) {
    .container {
      max-width: 980px;
      padding: 0px 20px; } }
  @media screen and (max-width: 992px) {
    .container {
      max-width: 980px;
      padding: 0px 20px; } }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0px 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  @media screen and (max-width: 480px) {
    .container {
      max-width: 480px;
      padding: 0px 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.content {
  width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 72px;
      flex-shrink: 72px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #f6f6f6;
  padding: 20px 0px 0px 20px; }
  @media screen and (max-width: 768px) {
    .content {
      width: 100%; } }

.empty {
  height: 50px; }

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-track {
  background-color: #f6f6f6; }

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #d8d8d8; }

::-webkit-scrollbar-thumb:hover {
  background-color: #d8d8d8; }

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 0px;
  height: 0px; }

::-webkit-scrollbar {
  width: 5px; }

.header {
  width: 100%;
  height: 82px;
  background-color: #f6f6f6;
  position: relative; }

.header:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 79px;
  height: 3px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d5d5d5), to(#f0f0f0));
  background-image: linear-gradient(to top, #d5d5d5, #f0f0f0); }

.header_container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  margin: 0px auto; }
  @media screen and (min-width: 1201px) {
    .header_container {
      max-width: 980px; } }
  @media screen and (max-width: 1200px) {
    .header_container {
      max-width: 980px; } }
  @media screen and (max-width: 992px) {
    .header_container {
      max-width: 980px; } }
  @media screen and (max-width: 768px) {
    .header_container {
      max-width: 768px; } }
  @media screen and (max-width: 480px) {
    .header_container {
      max-width: 480px; } }

.header_logo {
  display: block;
  background: #f6f6f6;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 2px 2px #999999;
          box-shadow: 0px 0px 2px 2px #999999; }

.header_name {
  font-family: "FiraSan Regular";
  font-size: 18px;
  line-height: 18px;
  color: #414141;
  margin-left: 15px; }

.header_contacts {
  margin-left: auto; }

.cont_wrapper {
  position: absolute;
  opacity: 0;
  top: 26px;
  left: 9999px;
  z-index: 20; }

.cont_icon {
  font-family: "FiraSan Medium";
  font-size: 18px;
  line-height: 18px;
  color: #32c3e5;
  font-weight: bold;
  border-right-width: 0px;
  border-right-color: transparent;
  border-left-width: 0px;
  border-left-color: transparent;
  border-top-width: 0px;
  border-top-color: transparent;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
  border-bottom-color: #32c3e5;
  border-bottom-style: dotted;
  padding-bottom: 3px;
  position: relative; }

.cont_icon:after {
  position: absolute;
  z-index: 10;
  content: "";
  display: block;
  background: transparent;
  height: 82px;
  width: 193px;
  top: -32px;
  left: -30px; }

.cont_icon:hover {
  font-family: "FiraSan Medium";
  font-size: 18px;
  line-height: 18px;
  color: #e96668;
  font-weight: bold;
  border-right-width: 0px;
  border-right-color: transparent;
  border-left-width: 0px;
  border-left-color: transparent;
  border-top-width: 0px;
  border-top-color: transparent;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
  border-bottom-color: #e96668;
  border-bottom-style: dotted;
  padding-bottom: 3px;
  cursor: pointer; }

.cont_icon:hover .cont_wrapper {
  left: -35px;
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s; }
  @media screen and (max-width: 768px) {
    .cont_icon:hover .cont_wrapper {
      left: -70px; } }

.cont_pallete a {
  text-decoration: none;
  font-family: "FiraSans Light";
  font-size: 18px;
  line-height: 18px;
  color: #414141; }

.cont_pallete {
  height: 132px;
  width: 193px;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  list-style: none; }

.cont_pallete:last-child {
  border-bottom: none; }

.cont_pallete li {
  position: relative;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #dedede;
  line-height: 44px;
  padding-left: 48px; }

.cont_pallete li:last-child {
  border-bottom: none; }

.cont_pallete li:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 20px; }

.triangle, .triangle:after {
  position: relative;
  width: 0px;
  height: 0px;
  z-index: 10;
  border-bottom-width: 12px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: transparent;
  border-right-width: 6px;
  border-right-style: solid;
  border-right-color: transparent;
  border-top: none;
  margin: 0px auto; }

.triangle:after {
  position: absolute;
  content: "";
  border-bottom-color: #ffffff;
  top: 1px;
  left: -6px;
  z-index: 20; }

.sidebar {
  width: 220px;
  -ms-flex-negative: 22px;
      flex-shrink: 22px;
  background-color: #f6f6f6;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.sidebar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .sidebar_menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  @media screen and (max-width: 480px) {
    .sidebar_menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.sidebar_menu li {
  padding: 0px 24px 0px 0px;
  margin: 0px;
  white-space: nowrap;
  font-family: "FiraSans Regular";
  font-size: 18px;
  line-height: 18px;
  color: #414141;
  text-align: right;
  border-right-width: 0px;
  border-right-color: transparent;
  border-left-width: 0px;
  border-left-color: transparent;
  border-top-width: 0px;
  border-top-color: transparent;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  border-right-width: 6px;
  border-right-color: #f6f6f6;
  border-right-style: solid; }
  @media screen and (max-width: 768px) {
    .sidebar_menu li {
      border: none;
      padding-top: 28px; } }
  @media screen and (max-width: 480px) {
    .sidebar_menu li {
      border: none; } }

.sidebar_menu li:hover {
  border-right-width: 0px;
  border-right-color: transparent;
  border-left-width: 0px;
  border-left-color: transparent;
  border-top-width: 0px;
  border-top-color: transparent;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  border-right-width: 6px;
  border-right-color: #33c1e3;
  border-right-style: solid; }
  @media screen and (max-width: 768px) {
    .sidebar_menu li:hover {
      border: none; } }
  @media screen and (max-width: 480px) {
    .sidebar_menu li:hover {
      border: none; } }

.sidebar_menu li:hover a {
  font-family: "FiraSans Bold";
  font-size: 18px;
  line-height: 18px;
  color: #33c1e3;
  line-height: 50px; }
  @media screen and (max-width: 768px) {
    .sidebar_menu li:hover a {
      line-height: 0px; } }
  @media screen and (max-width: 480px) {
    .sidebar_menu li:hover a {
      line-height: 0px; } }

.sidebar_menu li:active {
  border-right-width: 0px;
  border-right-color: transparent;
  border-left-width: 0px;
  border-left-color: transparent;
  border-top-width: 0px;
  border-top-color: transparent;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  border-right-width: 6px;
  border-right-color: #33c1e3;
  border-right-style: solid; }
  @media screen and (max-width: 768px) {
    .sidebar_menu li:active {
      border: none; } }
  @media screen and (max-width: 480px) {
    .sidebar_menu li:active {
      border: none; } }

.sidebar_menu li:active a {
  font-family: "FiraSans Bold";
  font-size: 18px;
  line-height: 18px;
  color: #33c1e3;
  line-height: 50px; }
  @media screen and (max-width: 768px) {
    .sidebar_menu li:active a {
      line-height: 0px; } }
  @media screen and (max-width: 480px) {
    .sidebar_menu li:active a {
      line-height: 0px; } }

.sidebar_menu a {
  position: relative;
  line-height: 50px;
  text-decoration: none;
  color: #414141; }
  @media screen and (max-width: 768px) {
    .sidebar_menu a {
      line-height: 0px; } }
  @media screen and (max-width: 480px) {
    .sidebar_menu a {
      line-height: 0px; } }

.sidebar_menu a:before {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: -24px; }

@media screen and (max-width: 768px) {
  .sidebar_menu li {
    padding-left: 25px;
    padding-right: 0px;
    margin-left: 25px; } }

@media screen and (max-width: 768px) {
  .sidebar_menu li:first-child {
    margin-left: 0px; } }

@media screen and (max-width: 768px) {
  .sidebar_menu .sidebar_menu__portfolio {
    padding-left: 30px;
    padding-right: 0px;
    margin-left: 30px; } }

@media screen and (max-width: 768px) {
  .sidebar_menu .sidebar_menu__portfolio a:before {
    left: -30px; } }

.content {
  padding: 0px; }

.main_photo {
  display: block;
  background: #f6f6f6;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  margin: 28px 20px 20px 60px;
  shadow-box: 0px 0px 5px #ffffff;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }
  @media screen and (max-width: 768px) {
    .main_photo {
      display: block;
      background: #f6f6f6;
      height: 176px;
      width: 176px;
      border-radius: 50%;
      border: 5px solid #ffffff;
      margin: 42px 0px 0px 26px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 380px;
  margin: 23px 0px 0px 0px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }
  @media screen and (max-width: 768px) {
    .info {
      width: 462px;
      margin: 42px 38px 0px 0px; } }

.info_header {
  font-family: "FiraSans Medium";
  font-size: 35px;
  line-height: 35px;
  color: #414141;
  margin: 0px;
  padding: 0px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }
  @media screen and (max-width: 768px) {
    .info_header {
      padding: 0px 20px; } }

.info_text {
  font-family: "FiraSans Light";
  font-size: 18px;
  line-height: 18px;
  color: #414141;
  line-height: 26px;
  overflow-y: scroll;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }
  @media screen and (max-width: 768px) {
    .info_text {
      font-family: "FiraSans Light";
      font-size: 18px;
      line-height: 18px;
      color: #414141;
      line-height: 26px;
      height: 371px;
      width: 100%;
      padding: 0px 20px;
      overflow-y: scroll; } }

.resume_button {
  position: relative;
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 40px;
  width: 173px;
  border: 2px solid #e96668;
  font-family: "OpenSans Bold";
  font-size: 14px;
  line-height: 14px;
  color: #e96668;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 0px 16px 36px;
  margin: 43px 0px 20px 20px;
  background-color: #f6f6f6;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }
  @media screen and (max-width: 768px) {
    .resume_button {
      margin: 34px 25px 0px 0px; } }

.resume_button:before, .resume_button:hover:before {
  content: "";
  position: absolute;
  z-index: 10;
  left: 12px;
  top: 10px; }

.resume_button:hover {
  background-color: #e96668;
  font-family: "OpenSans Bold";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff; }

.footer {
  width: 100%;
  height: 50px;
  margin: 0px auto;
  margin-top: -50px;
  background-color: #414141; }

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0px 0px;
  max-width: 940px;
  margin: 0px auto; }
  @media screen and (max-width: 768px) {
    .footer_container {
      padding: 0px 20px; } }
  @media screen and (max-width: 480px) {
    .footer_container {
      line-height: 0px; } }

.footer_conf {
  font-family: "FiraSan Regular";
  font-size: 14px;
  line-height: 14px;
  color: #727272; }

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  list-style: none; }

.footer_social a {
  display: block;
  border-radius: 50%;
  margin-left: 8px; }

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.cont_pallete_email:before {
  background-image: url(../../images/sprites.png);
  background-position: 0px -108px;
  width: 19px;
  height: 15px; }

.cont_pallete_skype:before {
  background-image: url(../../images/sprites.png);
  background-position: -123px -28px;
  width: 16px;
  height: 17px; }

.cont_pallete_tel:before {
  background-image: url(../../images/sprites.png);
  background-position: -123px -55px;
  width: 15px;
  height: 16px; }

.footer_social__fb:hover {
  background-image: url(../../images/sprites.png);
  background-position: -41px 0px;
  width: 31px;
  height: 30px; }

.footer_social__fb {
  background-image: url(../../images/sprites.png);
  background-position: 0px -40px;
  width: 31px;
  height: 30px; }

.footer_social__tw:hover {
  background-image: url(../../images/sprites.png);
  background-position: -41px -40px;
  width: 31px;
  height: 30px; }

.footer_social__tw {
  background-image: url(../../images/sprites.png);
  background-position: 0px 0px;
  width: 31px;
  height: 30px; }

.footer_social__vk:hover {
  background-image: url(../../images/sprites.png);
  background-position: -82px -40px;
  width: 31px;
  height: 30px; }

.footer_social__vk {
  background-image: url(../../images/sprites.png);
  background-position: -82px 0px;
  width: 31px;
  height: 30px; }

.portfolio .icon_desktop:before {
  background-image: url(../../images/sprites.png);
  background-position: 0px -80px;
  width: 19px;
  height: 18px; }

.portfolio .icon_mobile:before {
  background-image: url(../../images/sprites.png);
  background-position: -109px -108px;
  width: 8px;
  height: 13px; }

.resume_button:before {
  background-image: url(../../images/sprites.png);
  background-position: -85px -108px;
  width: 14px;
  height: 14px; }

.resume_button:hover:before {
  background-image: url(../../images/sprites.png);
  background-position: -123px -81px;
  width: 14px;
  height: 14px; }

.sidebar_menu__about a:before {
  background-image: url(../../images/sprites.png);
  background-position: -123px 0px;
  width: 16px;
  height: 18px; }

.sidebar_menu__about:hover a:before {
  background-image: url(../../images/sprites.png);
  background-position: -83px -80px;
  width: 16px;
  height: 18px; }

.sidebar_menu__career a:before {
  background-image: url(../../images/sprites.png);
  background-position: -56px -80px;
  width: 17px;
  height: 18px; }

.sidebar_menu__career:hover a:before {
  background-image: url(../../images/sprites.png);
  background-position: -29px -80px;
  width: 17px;
  height: 18px; }

.sidebar_menu__portfolio a:before {
  background-image: url(../../images/sprites.png);
  background-position: -29px -108px;
  width: 18px;
  height: 15px; }

.sidebar_menu__portfolio:hover a:before {
  background-image: url(../../images/sprites.png);
  background-position: -57px -108px;
  width: 18px;
  height: 15px; }
