@import "./common/fonts.scss";
@import "./common/mixins.scss";
@import "./common/container.scss";
@import "./common/header.scss";
@import "./common/sidebar.scss";



.container {
	padding-right: 0;

	@include mobile {
		padding-right: 10px;
	}
}

.sidebar {
	width: 220px/(992px-1*26px)*100%;
}


.content_container {
	@include flexbox(column, nowrap, flex-start, center);
	padding-top: 18px;
	padding-left: 20px;
	width: (720px+26px)/(992px-1*26px)*100%;
	order: 2;

	@include tablet {
		width: 100%;
	}

	@include mobile {
		width: 100%;
		padding: 0;
	}
}


.headers {
	@include flexbox(column, nowrap, flex-start, center);
	width: 100%;

}





.main_header {
	width: 100%;
	@include font("FiraSans Medium", 35px, $brown);
	padding: 5px 0px;
	margin: 0px;

	
	@include mobile {
		padding-top: 35px;
		padding-bottom: 30px;
		text-align: center;		
	}
}



.contents {
	@include flexbox(row, nowrap, flex-start, flex-start);
}


.portfolio {
	@include flexbox(row, wrap, flex-start, flex-start);
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;

	@include tablet {
		justify-content: flex-start;
	}

	@include mobile {
		margin-bottom: 20px;
	}
}

.portfolio li {
	width: 220px;
	box-shadow: 0px 0px 3px #e6e6e6e;
	background: $white;
	border-radius: 8px;
	margin-top: 20px;
	margin-right: 20px;
	padding: 0px;
	overflow: hidden;
	@include flexbox(column, nowrap, flex-start, flex-start); 

	@include tablet {
		width: 228px;
	}

	@include mobile {
		width: 300px;
		border-radius: 10px;
		margin: 0;
		margin-bottom: 20px;
	}



}

.portfolio h4 {
	padding: 17px 20px 0px 20px;
	margin: 0;
	@include font("FiraSans Regular", 21px, $blueLightPortfolio);
	order: 2;

	@include tablet {
		padding: 15px 20px 0px 20px;
	}

	@include mobile {
		@include font("FiraSans Regular", 24px, $blueLightPortfolio);
		padding: 15px 20px 0px 20px;
	}

}


.portfolio p {
	padding: 5px 20px 0px 20px;
	margin: 0;
	@include font("FiraSans Light", 14px, $brown);
	order: 3;

	
	@include mobile {
		@include font("FiraSans Light", 16px, $brown);
		padding: 5px 20px 0px 20px;
	}
}


.portfolio_image {
	width: 100%;
	margin: 0;
	height: 172px;
	background: transparent no-repeat 50% 50%;
	background-size: 100%;
	order: 1;
	
	@include tablet {
		height: 178px;
	}

	@include mobile {
		height: 235px;
	}

}



.portfolio .icon_desktop,  .portfolio .icon_mobile{
	position: relative;
	color: #aeaeae;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	padding: 20px 20px 14px 45px;
	order: 4;

	@include tablet {
		padding: 22px 20px 19px 45px;
	}

	@include mobile {
		font-size: 16px;
		padding: 15px 20px 18px 45px;
	}

}


.portfolio .icon_mobile {
	padding-left: 34px;

}

.portfolio .icon_desktop:before,  .portfolio .icon_mobile:before {
	position: absolute;
	content: "";
	bottom: 14px; //icon_desktop padding-bottom to match the bottom of the block's content
	left: 20px; //portfolio h4, p padding-left to match the left edge of the block's content  

	@include tablet {
		bottom: 19px; 
		left: 20px;
	}


	@include mobile {
		bottom: 18px;
		left: 20px;
	}
}


.portfolio_deals {
	order: 1;
}


.portfolio_dreams {
	order: 2;
}


.portfolio_creative {
	order: 3;
}


.portfolio_frog {
	order: 4;
}


.portfolio_carbon {
	order: 5;

}



@import "./common/footer.scss";

