@font-face {
  font-family: "FiraSans Medium";
  src: url(../../fonts/FiraSans-Medium.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Regular";
  src: url(../../fonts/FiraSans-Regular.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Bold";
  src: url(../../fonts/FiraSans-Bold.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Lignt";
  src: url(../../fonts/FiraSans-Light.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans Bold";
  src: url(../../fonts/openSans_bold.ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Medium";
  src: url(../../fonts/FiraSans-Medium.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Regular";
  src: url(../../fonts/FiraSans-Regular.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Bold";
  src: url(../../fonts/FiraSans-Bold.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans Lignt";
  src: url(../../fonts/FiraSans-Light.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans Bold";
  src: url(../../fonts/openSans_bold.ttf);
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f6f6f6; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 940px;
  margin: 0px auto; }

.content {
  width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 72px;
      flex-shrink: 72px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #f6f6f6;
  padding: 20px 0px 0px 20px; }

.empty {
  height: 50px; }

.header {
  width: 100%;
  height: 82px;
  background-color: #f6f6f6;
  position: relative; }

.header:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 79px;
  height: 3px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d5d5d5), to(#f0f0f0));
  background-image: linear-gradient(to top, #d5d5d5, #f0f0f0); }

.header_container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px;
  max-width: 940px;
  margin: 0px auto; }

.header_logo {
  display: block;
  background: #f6f6f6;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 2px 2px #999999;
          box-shadow: 0px 0px 2px 2px #999999; }

.header_name {
  font-family: "FiraSan Regular";
  font-size: 18px;
  line-height: 18px;
  color: #414141;
  margin-left: 15px; }

.header_contacts {
  margin-left: auto; }

.cont_wrapper {
  position: absolute;
  opacity: 0;
  top: 26px;
  left: 9999px;
  z-index: 20; }

.cont_icon {
  font-family: "FiraSan Medium";
  font-size: 18px;
  line-height: 18px;
  color: #32c3e5;
  font-weight: bold;
  border-right-width: 0px;
  border-right-color: transparent;
  border-left-width: 0px;
  border-left-color: transparent;
  border-top-width: 0px;
  border-top-color: transparent;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
  border-bottom-color: #32c3e5;
  border-bottom-style: dotted;
  padding-bottom: 3px;
  position: relative; }

.cont_icon:after {
  position: absolute;
  z-index: 10;
  content: "";
  display: block;
  background: transparent;
  height: 82px;
  width: 193px;
  top: -32px;
  left: -30px; }

.cont_icon:hover {
  font-family: "FiraSan Medium";
  font-size: 18px;
  line-height: 18px;
  color: #e96668;
  font-weight: bold;
  border-right-width: 0px;
  border-right-color: transparent;
  border-left-width: 0px;
  border-left-color: transparent;
  border-top-width: 0px;
  border-top-color: transparent;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
  border-bottom-color: #e96668;
  border-bottom-style: dotted;
  padding-bottom: 3px;
  cursor: pointer; }

.cont_icon:hover .cont_wrapper {
  left: -35px;
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s; }

.cont_pallete a {
  text-decoration: none;
  font-family: "FiraSans Light";
  font-size: 18px;
  line-height: 18px;
  color: #414141; }

.cont_pallete {
  height: 132px;
  width: 193px;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  list-style: none; }

.cont_pallete:last-child {
  border-bottom: none; }

.cont_pallete li {
  position: relative;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #dedede;
  line-height: 44px;
  padding-left: 48px; }

.cont_pallete li:last-child {
  border-bottom: none; }

.cont_pallete li:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 20px; }

.triangle, .triangle:after {
  position: relative;
  width: 0px;
  height: 0px;
  z-index: 10;
  border-bottom-width: 12px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: transparent;
  border-right-width: 6px;
  border-right-style: solid;
  border-right-color: transparent;
  border-top: none;
  margin: 0px auto; }

.triangle:after {
  position: absolute;
  content: "";
  border-bottom-color: #ffffff;
  top: 1px;
  left: -6px;
  z-index: 20; }

.sidebar {
  width: 220px;
  -ms-flex-negative: 22px;
      flex-shrink: 22px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.sidebar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none; }

.sidebar_menu li {
  padding: 0px 24px 0px 0px;
  margin: 0px;
  font-family: "FiraSans Regular";
  font-size: 18px;
  line-height: 18px;
  color: #414141;
  text-align: right;
  border-right-width: 0px;
  border-right-color: transparent;
  border-left-width: 0px;
  border-left-color: transparent;
  border-top-width: 0px;
  border-top-color: transparent;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  border-right-width: 6px;
  border-right-color: #f6f6f6;
  border-right-style: solid; }

.sidebar_menu li:hover {
  border-right-width: 0px;
  border-right-color: transparent;
  border-left-width: 0px;
  border-left-color: transparent;
  border-top-width: 0px;
  border-top-color: transparent;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  border-right-width: 6px;
  border-right-color: #33c1e3;
  border-right-style: solid; }

.sidebar_menu li:hover a {
  font-family: "FiraSans Bold";
  font-size: 18px;
  line-height: 18px;
  color: #33c1e3;
  line-height: 50px; }

.sidebar_menu li:active {
  border-right-width: 0px;
  border-right-color: transparent;
  border-left-width: 0px;
  border-left-color: transparent;
  border-top-width: 0px;
  border-top-color: transparent;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  border-right-width: 6px;
  border-right-color: #33c1e3;
  border-right-style: solid; }

.sidebar_menu li:active a {
  font-family: "FiraSans Bold";
  font-size: 18px;
  line-height: 18px;
  color: #33c1e3;
  line-height: 50px; }

.sidebar_menu a {
  position: relative;
  line-height: 50px;
  text-decoration: none;
  color: #414141; }

.sidebar_menu a:before {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: -28px; }

.main_header {
  width: 100%;
  font-family: "FiraSans Medium";
  font-size: 35px;
  line-height: 35px;
  color: #414141;
  padding: 5px 0px;
  margin: 0px; }

.portfolio {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px;
  padding: 0px; }

.portfolio li {
  width: 220px;
  height: 280px;
  -webkit-box-shadow: 0px 0px 3px #e6e6e6e;
          box-shadow: 0px 0px 3px #e6e6e6e;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 20px;
  padding: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.portfolio li:last-child {
  margin-right: auto;
  margin-left: 20px; }

.portfolio h4 {
  margin: 15px 20px 5px 20px;
  padding: 0px;
  font-family: "FiraSans Regular";
  font-size: 21px;
  line-height: 21px;
  color: #33c1e3;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.portfolio p {
  margin: 0px 20px 20px 20px;
  padding: 0px;
  font-family: "FiraSans Light";
  font-size: 14px;
  line-height: 14px;
  color: #414141;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.portfolio img {
  width: 100%;
  height: 172px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.portfolio .icon_desktop, .portfolio .icon_mobile {
  position: relative;
  color: #aeaeae;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 19px;
  margin: 0px 20px 14px 20px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4; }

.portfolio .icon_desktop {
  padding-left: 25px; }

.portfolio .icon_mobile {
  padding-left: 14px; }

.portfolio .icon_desktop:before {
  position: absolute;
  content: "";
  bottom: 3px;
  left: -2px; }

.portfolio .icon_mobile:before {
  position: absolute;
  content: "";
  bottom: 3px;
  left: -2px; }

.portfolio_deals {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.portfolio_dreams {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.portfolio_creative {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.portfolio_frog {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4; }

.portfolio_carbon {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5; }

.footer {
  width: 100%;
  height: 50px;
  margin: 0px auto;
  margin-top: -50px;
  background-color: #414141; }

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0px 0px;
  max-width: 940px;
  margin: 0px auto; }

.footer_conf {
  font-family: "FiraSan Regular";
  font-size: 14px;
  line-height: 14px;
  color: #727272; }

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  list-style: none; }

.footer_social a {
  display: block;
  border-radius: 50%;
  margin-left: 8px; }

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.cont_pallete_email:before {
  background-image: url(../../images/sprites.png);
  background-position: 0px -108px;
  width: 19px;
  height: 15px; }

.cont_pallete_skype:before {
  background-image: url(../../images/sprites.png);
  background-position: -123px -28px;
  width: 16px;
  height: 17px; }

.cont_pallete_tel:before {
  background-image: url(../../images/sprites.png);
  background-position: -123px -55px;
  width: 15px;
  height: 16px; }

.footer_social__fb:hover {
  background-image: url(../../images/sprites.png);
  background-position: -41px 0px;
  width: 31px;
  height: 30px; }

.footer_social__fb {
  background-image: url(../../images/sprites.png);
  background-position: 0px -40px;
  width: 31px;
  height: 30px; }

.footer_social__tw:hover {
  background-image: url(../../images/sprites.png);
  background-position: -41px -40px;
  width: 31px;
  height: 30px; }

.footer_social__tw {
  background-image: url(../../images/sprites.png);
  background-position: 0px 0px;
  width: 31px;
  height: 30px; }

.footer_social__vk:hover {
  background-image: url(../../images/sprites.png);
  background-position: -82px -40px;
  width: 31px;
  height: 30px; }

.footer_social__vk {
  background-image: url(../../images/sprites.png);
  background-position: -82px 0px;
  width: 31px;
  height: 30px; }

.portfolio .icon_desktop:before {
  background-image: url(../../images/sprites.png);
  background-position: 0px -80px;
  width: 19px;
  height: 18px; }

.portfolio .icon_mobile:before {
  background-image: url(../../images/sprites.png);
  background-position: -109px -108px;
  width: 8px;
  height: 13px; }

.resume_button:before {
  background-image: url(../../images/sprites.png);
  background-position: -85px -108px;
  width: 14px;
  height: 14px; }

.resume_button:hover:before {
  background-image: url(../../images/sprites.png);
  background-position: -123px -81px;
  width: 14px;
  height: 14px; }

.sidebar_menu__about a:before {
  background-image: url(../../images/sprites.png);
  background-position: -123px 0px;
  width: 16px;
  height: 18px; }

.sidebar_menu__about:hover a:before {
  background-image: url(../../images/sprites.png);
  background-position: -83px -80px;
  width: 16px;
  height: 18px; }

.sidebar_menu__career a:before {
  background-image: url(../../images/sprites.png);
  background-position: -56px -80px;
  width: 17px;
  height: 18px; }

.sidebar_menu__career:hover a:before {
  background-image: url(../../images/sprites.png);
  background-position: -29px -80px;
  width: 17px;
  height: 18px; }

.sidebar_menu__portfolio a:before {
  background-image: url(../../images/sprites.png);
  background-position: -29px -108px;
  width: 18px;
  height: 15px; }

.sidebar_menu__portfolio:hover a:before {
  background-image: url(../../images/sprites.png);
  background-position: -57px -108px;
  width: 18px;
  height: 15px; }
