@import "fonts.scss";
@import "mixins.scss";


* {
	box-sizing: border-box;
}


html, body {
	width: 100%;
	height: 100%;
	
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
	background-color: $whiteLight;
}

.container {
	@include flexbox(row, wrap, center, flex-start);
	max-width: $maxWidth;
	margin: 0px auto;
}	

.empty {
	height: $footerHeight;
}
