@font-face {
	font-family: "FiraSans Medium";
	src: url(../../fonts/FiraSans-Medium.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "FiraSans Regular";
	src: url(../../fonts/FiraSans-Regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "FiraSans Bold";
	src: url(../../fonts/FiraSans-Bold.otf);
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "FiraSans Lignt";
	src: url(../../fonts/FiraSans-Light.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans Bold";
	src: url(../../fonts/openSans_bold.ttf);
	font-weight: normal;
	font-style: normal;
}


