
.footer {
	height: 50px;
	margin: 0px auto;
	margin-top: -50px;
	background-color: $brown;

	@include mobile {
		height: 115px;
		margin-top: -115px;
	}
}

.footer_container {
	@include flexbox(row, nowrap, space-between, center);
	padding: 0px 26px;
	height: 100%;

	@include ultraDesktop {
		max-width: 940px + 2*26px;
		
	}

	
	@include desktop {
		max-width: 940px + 2*26px;
		
	}
	
	@include laptop {
		max-width: 940px + 2*26px;
		
	}


	@include tablet {
		max-width: 728px + 2*20px;
		padding: 0px 20px;
	}

	@include mobile {
		@include flexbox(column, nowrap, flex-start, center);
		max-width: 300px + 2*10px;
		padding: 0px 10px;
		
	}

	
	margin: 0px auto;

}

.footer_container_left {
	@include flexbox(row, nowrap, flex-start, center);

	@include mobile {
		justify-content: center;
	}
}


.footer_container_right {
	@include flexbox(row, nowrap, flex-end, center);

	@include mobile {
		justify-content: center;
	}
}

.footer_conf {
	@include font("FiraSans Regular", 14px, $brownLight);

	@include mobile {
		text-align: center;
		line-height: 21px;
		padding: 15px 15% 0px 15%;
		margin: 0;
	}
}


.footer_social {
	@include flexbox(row, nowrap, flex-end, center);
	padding: 0px;
	list-style: none;

	li {
		margin-left: 8px;
	}

	li:first-child {
		margin-left: 0px;
	}

	a {

		display: block;
		border-radius: 50%;
		
	}


	
}


@import "sprites.scss" //add sprites at the end of the global css-file to override background-color on background-image properties


