@import "./common/mixins.scss";


$imageDiameter: 140px;
$imageDiamTab: 104px;
$shift: -$imageDiameter/2; 
$shift_tab: -$imageDiamTab/2;

body {
	position: relative;
}


.hello {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	z-index: 100;
	background: #f6f6f6;
	opacity: 1;
	transition: opacity 1s;
	@include flexbox(column, nowrap, flex-start, center);
	padding-top: 220px - $imageDiameter/2;

	@include tablet {
		padding-top: 368px - $imageDiamTab/2;
	}

	@include mobile {
		padding-top: 184px - $imageDiamTab/2;
	} 
}


.hello_plate {
	position: relative;
	width: 300px;
	//height: 232px;
	background: #ffffff;
	border-radius: 8px;
	//shadow-box: 0px 0px 1px #e4e4e4;
	padding: 0px;
	margin-top: $imageDiameter/2;
	padding-top: $imageDiameter/2;

	@include tablet {
		width: 354px;
		padding-top: $imageDiamTab/2;
		//height: 214px;
		
	}

	@include mobile {
		width: 300px;
		padding-top: $imageDiamTab/2;
		//height: 214px;
		
	}
}


.img_hello {
	position: absolute;
	@include roundBox($imageDiameter, #ffffff);
	box-shadow: 0px 0px 4px 0px #727272;
	left: 300px/2 - $imageDiameter/2;
	top: -$imageDiameter/2;
	
	
	@include tablet {
		@include roundBox($imageDiamTab, #ffffff);
		box-shadow: 0px 0px 2px 0px #727272;
		left: 354px/2 - $imageDiamTab/2;
		top: -$imageDiamTab/2;
	}

	@include mobile {
		left: 300px/2 - $imageDiamTab/2;
		top: -$imageDiamTab/2;
	}
}



.hello_name {
	@include font("OpenSans Bold", 21px, #727272);
	line-height: 1.3;
	text-align: center;
	padding: 19px 30% 10px 30%;

	@include tablet {
		
	}
}




.hello_button_field {
	
	background-color: #33c1e3;
	width: 100%;
	height: 78px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	@include flexbox(column, nowrap, center, center);

	
}


.hello_button_goto {
	display: block;
	@include font("FiraSans Bold", 14px, #ffffff);
	line-height: 36px;
	font-style: bold;
	padding: 0px 14px;
	text-align: center;
	border: 2px solid #ffffff;
	border-radius: 19px; //36px/2 + 2px/2
	background: #33c1e3;
	cursor: pointer;
}


.hello_button_goto:hover {
	@include font("FiraSans Bold", 14px, #33c1e3);
	line-height: 36px;
	font-style: bold;
	background: #ffffff;
}


 