$buttonResumeHeight: 40px;


.content {
	padding: 0px;

	@include tablet {
		justify-content: flex-start;
	}
}


.photo_area {
	width: 340px/720px*100%;
	@include flexbox(column, nowrap, flex-start, center);
	margin: 0;
	padding-top: 28px;

	@include tablet {
		width: 268px/(728px + 2*20px)*100%;
		padding-top: 42px;
		min-width: 166px + 2*26px;
	}

	@include mobile {
		padding-top: 24px;
	}
}



.main_photo {
	@include roundBox(220px, $whiteLight);
	@include flexbox(row, nowrap, center, center);
	width: 220px/340px*100%;
	shadow-box: 0px 0px 5px $white;
	order: 1;

	@include tablet {
		@include roundBox(166px + 2*5px, $whiteLight);
		border: 5px solid $white;
	}

	@include mobile {
		@include roundBox(140px + 2*5px, $whiteLight);
		border: 5px solid $white;
	}
}




.info_area {
	@include flexbox(column, nowrap, flex-start, center);
	width: 380px/720px*100%;
	padding-top: 28px;
	margin: 0;
	order: 2;

	@include tablet {
		width: 417px/(728px + 2*20px)*100%;
		padding-top: 42px;
	}

	@include mobile {
		width: 100%;
		margin: 0px;
		padding-top: 8px;

	}

}



.info_header {
	@include font("FiraSans Medium", 35px, $brown);
	margin: 0px;
	padding-bottom: 15px;
	align-self: flex-start;
	order: 1;

	@include mobile {
		align-self: center
	}


}

.info_text {
	@include font("FiraSans Light", 18px, $brown);
	height: 290px;
	overflow-y: scroll;
	line-height: 26px;
	overflow-y: scroll;
	margin: 0;
	order: 2;

	@include tablet {
		@include font("FiraSans Light", 18px, $brown);
		line-height: 26px;
		height: 365px;
		width: 100%;
		overflow-y: scroll;
	}

	@include mobile {
		@include font("FiraSans Light", 16px, $brown);
		line-height: 24px;
		width: 100%;
		padding: 0px;
		height: auto;
		overflow: hidden;
		margin-bottom: 0px;
	}
}


.button_area {
	width: 100%;
	@include flexbox(column, nowrap, flex-start, flex-end);

	order: 3;
}


.resume_button {
	position: relative; //for icon before the button name
	display: inline-block;
	border: 2px solid $redLight;
	@include font("OpenSans Bold", 14px, $redLight);
	height: 40px;
	text-decoration: none;
	border-radius: 20px; //40px/2
	padding: 10px 14px 16px 36px;
	background-color: $whiteLight;
	margin-top: 52px;
	order: 3;

	@include tablet {
		margin-top: 60px;
	}	

	@include mobile {
		margin: 40px auto 30px auto;
	}	

}



.resume_button:before, .resume_button:hover:before {
	content: "";
	position: absolute;
	z-index: 10;
	left: 12px;
	top: 10px;
}


.resume_button:hover {
	background-color: $redLight;
	@include font("OpenSans Bold", 14px, $white);
}