$buttonResumeHeight: 40px;


.content {
	padding: 0px;
}


.main_photo {
	@include roundBox(220px, $whiteLight);
	margin: 28px 20px 20px 60px;
	shadow-box: 0px 0px 5px $white;
	order: 1;

	@include tablet {
		@include roundBox(166px + 2*5px, $whiteLight);
		border: 5px solid $white;
		margin: 42px 0px 0px 26px;
	}

	@include mobile {
		@include roundBox(140px + 2*5px, $whiteLight);
		border: 5px solid $white;
		margin: 23px auto 0px auto;
	}
}

.info {
	@include flexbox(column, nowrap, flex-start, flex-start);
	width: 380px;
	margin: 23px 0px 0px 0px;
	order: 2;

	@include tablet {
		width: 462px;
		margin: 42px 38px 0px 0px;
	}

	@include mobile {
		width: 100%;
		margin: 0px;
		padding: 0px;

	}

}



.info_header {
	@include font("FiraSans Medium", 35px, $brown);
	margin: 0px;
	padding: 0px;
	order: 1;

	@include tablet {
		padding: 0px 20px;
	}

	@include mobile {
		margin: 5px auto 0px auto;
		padding: 0px;

	}
}

.info_text {
	@include font("FiraSans Light", 18px, $brown);
	line-height: 26px;
	overflow-y: scroll;
	order: 2;

	@include tablet {
		@include font("FiraSans Light", 18px, $brown);
		line-height: 26px;
		height: 371px;
		width: 100%;
		padding: 0px 20px;
		overflow-y: scroll;
	}

	@include mobile {
		@include font("FiraSans Light", 16px, $brown);
		line-height: 24px;
		width: 100%;
		padding: 0px;
		height: auto;
		overflow: hidden;
		margin-bottom: 0px;
	}
}


.resume_button {
	position: relative;
	display: inline-block;
	align-self: flex-end;
	height: $buttonResumeHeight;
	width: 173px;
	border: 2px solid $redLight;
	@include font("OpenSans Bold", 14px, $redLight);
	text-decoration: none;
	border-radius: $buttonResumeHeight/2;
	padding: 10px 0px 16px 36px;
	margin: 43px 0px 20px 20px;
	background-color: $whiteLight;
	order: 3;

	@include tablet {
		margin: 34px 25px 0px 0px;
	}	

	@include mobile {
		margin: 40px auto 30px auto;
	}	

}



.resume_button:before, .resume_button:hover:before {
	content: "";
	position: absolute;
	z-index: 10;
	left: 12px;
	top: 10px;
}


.resume_button:hover {
	background-color: $redLight;
	@include font("OpenSans Bold", 14px, $white);
}