$maxWidth: 940px;
$sides: 0px;
$footerHeight: 50px;

$sidebarBorderWidth: 6px;
$sidebarWidth: 220px;
$sidebarMenuItemHeight: 50px;

$contentWidth: $maxWidth - $sidebarWidth;


$brown:  #414141;
$lightBlack: #727272;
$brownLight: #727272;
$white: #ffffff;
$whiteLight: #f6f6f6;
$greyLight: #dedede;
$blueLight: #32c3e5;
$blueLightSidebar: #33c1e3;
$blueLightPortfolio: #33c1e3;
$redLight: #e96668;



@mixin flexbox ($direct, $wrap, $justify, $align) {
	display: flex;
	flex-direction: $direct;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;
}


@mixin font($family, $size, $color) {
	font-family: $family;
	font-size: $size;
	line-height: $size;
	color: $color;

}


@mixin roundBox($radius, $background) {
	display: block;
	background: $background;
	height: $radius;
	width: $radius;
	border-radius: 50%;
}


@mixin border($side, $width, $type, $color){
	border-right-width: 0px;
	border-right-color: transparent;
	border-left-width: 0px;
	border-left-color: transparent;
	border-top-width: 0px;
	border-top-color: transparent;
	border-bottom-width: 0px;
	border-bottom-color: transparent;

	border-#{$side}-width: $width;
	border-#{$side}-color: $color;
	border-#{$side}-style: $type;
}