$maxWidth: 1200px;
$sides: 130px;
$footerHeight: 50px;
$headerHeight: 82px;


$brown:  #414141;
$brownLight: #727272;
$white: #ffffff;
$whiteLight: #f6f6f6;
$greyLight: #dedede;


@mixin flexbox ($direct, $wrap, $justify, $align) {
	display: flex;
	flex-direction: $direct;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;
}


@mixin font($family, $size, $color) {
	font-family: $family;
	font-size: $size;
	line-height: $size;
	color: $color;

}


@mixin roundBox($radius, $background) {
	display: block;
	background-color: $background;
	height: $radius;
	width: $radius;
	border-radius: 50%;
}


@mixin sprites_custom($sprites, $keyword) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    
    @if str-index($sprite-name, $keyword) != null &&  str-index($sprite-name, 'hover') == null {
      	
      	$className: $sprite-name;
      	
      	@each $sprite in $sprites {
	      	$sprite-name: nth($sprite, 10);
    
	      	@if str-index($sprite-name, $className) != null && str-index($sprite-name, 'hover') != null {
	 
		        .#{$className}:hover {
		          @include sprite($sprite);
		        }
	       }
		}

        .#{$className} {
          @include sprite($sprite);
        }
    }
  }
}

