

.sidebar {
	width: $sidebarWidth + $sides;
	flex-shrink: $sidebarWidth/10;
	background-color: $whiteLight;
	@include flexbox(column, nowrap, flex-start, stretch);
	order: 1;
}

.sidebar_menu {
	@include flexbox(column, wrap, flex-start, flex-end);
	list-style: none;
}


.sidebar_menu li {
	padding: 0px 24px 0px 0px;
	margin: 0px;
	@include font("FiraSans Regular", 18px, $brown);
	text-align: right;
	@include border(right, $sidebarBorderWidth, solid, $whiteLight);
}


.sidebar_menu li:hover {
	@include border(right, $sidebarBorderWidth, solid, $blueLightSidebar);
}	

.sidebar_menu li:hover a {
	@include font("FiraSans Bold", 18px, $blueLightSidebar);
	line-height: $sidebarMenuItemHeight;
}	


.sidebar_menu li:active {
	@include border(right, $sidebarBorderWidth, solid, $blueLightSidebar);
}	

.sidebar_menu li:active a {
	@include font("FiraSans Bold", 18px, $blueLightSidebar);
	line-height: $sidebarMenuItemHeight;
}	


.sidebar_menu a {
	position: relative;
	line-height: $sidebarMenuItemHeight;
	text-decoration: none;
	color: $brown;
}


.sidebar_menu a:before {
	content: "";
	position: absolute;
	display: block;
	top: 0px;
	left: -28px; 
}

