

.sidebar {
	width: 220px/(992px-2*26px)*100%;
	margin: 0;
	padding-top: 22px;
	background-color: $whiteLight;
	@include flexbox(column, nowrap, flex-start, flex-end);
	order: 1;

	@include tablet {
		width: 100%;
		padding: 0 26px;
		align-items: flex-start;
	}

	@include mobile {
		padding: 0;
		width: 100%;
		align-items: flex-start;
	}
}

.sidebar_menu {
	@include flexbox(column, wrap, flex-start, flex-end);
	list-style: none;
	padding: 0;
	margin: 0;

	@include tablet {
		@include flexbox(row, nowrap, flex-start, flex-start);
	}

	@include mobile {
		@include flexbox(row, nowrap, flex-start, flex-start);
	}

}


.sidebar_menu li {
	padding: 0px 24px 0px 0px;
	margin: 0px;
	white-space: nowrap;
	@include font("FiraSans Regular", 18px, $brown);
	text-align: right;
	@include border(right, $sidebarBorderWidth, solid, $whiteLight);

	@include tablet {
		border: none;
		padding-top: 28px;
		padding-left: 25px;
		padding-right: 0px;
		margin-left: 25px;
	}

	@include mobile {
		border: none;
		padding: 17px 17px 0px 0px;
		margin: 0px 0px 0px 0px;
		font-size: 14px;
		line-height: 14px;	
	}

}


.sidebar_menu li:hover {
	@include border(right, $sidebarBorderWidth, solid, $blueLightSidebar);

	@include tablet {
		border: none;
	}

	@include mobile {
		border: none;
	}
}	

.sidebar_menu li:hover a {
	@include font("FiraSans Bold", 18px, $blueLightSidebar);
	line-height: $sidebarMenuItemHeight;

	@include tablet {
		line-height: 0px;
	}

	@include mobile {
		line-height: 0px;
		font-size: 14px;
	}
}	


.sidebar_menu li:active {
	@include border(right, $sidebarBorderWidth, solid, $blueLightSidebar);

	@include tablet {
		border: none;
	}

	@include mobile {
		border: none;
	}
}	

.sidebar_menu li:active a {
	@include font("FiraSans Bold", 18px, $blueLightSidebar);
	line-height: $sidebarMenuItemHeight;

	@include tablet {
		line-height: 0px;
	}

	@include mobile {
		line-height: 0px;
		font-size: 14px;
	}
}	


.sidebar_menu a {
	position: relative;
	line-height: $sidebarMenuItemHeight;
	text-decoration: none;
	color: $brown;

	@include tablet {
		line-height: 0px;
	}

	@include mobile {
		line-height: 0px;
	}
}


.sidebar_menu a:before {
	content: "";
	position: absolute;
	display: block;
	top: 0px;
	left: -24px; 

	@include mobile {
		display: none;
	}
}


.sidebar_menu li:first-child {
	@include tablet {
		margin-left: 0px;
	}
}


.sidebar_menu .sidebar_menu__portfolio  {
	@include tablet {
		padding-left: 30px;
		padding-right: 0px;
		margin-left: 30px;

	}

	@include mobile {
		padding: 17px 17px 0px 0px;
		margin: 0px 0px 0px 0px;
	}

}


.sidebar_menu .sidebar_menu__portfolio a:before {
	@include tablet {
		left: -30px;
	}
}
