/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.btn1_13 {
  background-image: url(../../images/sprites.png);
  background-position: -85px -108px;
  width: 14px;
  height: 14px;
}
.btn1_16 {
  background-image: url(../../images/sprites.png);
  background-position: -123px -81px;
  width: 14px;
  height: 14px;
}
.cont_pallete_email:before {
  background-image: url(../../images/sprites.png);
  background-position: 0px -108px;
  width: 19px;
  height: 15px;
}
.cont_pallete_skype:before {
  background-image: url(../../images/sprites.png);
  background-position: -123px -28px;
  width: 16px;
  height: 17px;
}
.cont_pallete_tel:before {
  background-image: url(../../images/sprites.png);
  background-position: -123px -55px;
  width: 15px;
  height: 16px;
}
.footer_social__fb:hover {
  background-image: url(../../images/sprites.png);
  background-position: -41px -40px;
  width: 31px;
  height: 30px;
}
.footer_social__fb {
  background-image: url(../../images/sprites.png);
  background-position: -82px 0px;
  width: 31px;
  height: 30px;
}
.footer_social__tw:hover {
  background-image: url(../../images/sprites.png);
  background-position: -82px -40px;
  width: 31px;
  height: 30px;
}
.footer_social__tw {
  background-image: url(../../images/sprites.png);
  background-position: 0px 0px;
  width: 31px;
  height: 30px;
}
.footer_social__vk:hover {
  background-image: url(../../images/sprites.png);
  background-position: -41px 0px;
  width: 31px;
  height: 30px;
}
.footer_social__vk {
  background-image: url(../../images/sprites.png);
  background-position: 0px -40px;
  width: 31px;
  height: 30px;
}
.portfolio .icon_desktop:before {
  background-image: url(../../images/sprites.png);
  background-position: 0px -80px;
  width: 19px;
  height: 18px;
}
.portfolio .icon_mobile:before {
  background-image: url(../../images/sprites.png);
  background-position: -109px -108px;
  width: 8px;
  height: 13px;
}
.sidebar_menu__about a:before {
  background-image: url(../../images/sprites.png);
  background-position: -83px -80px;
  width: 16px;
  height: 18px;
}
.sidebar_menu__about:hover a:before {
  background-image: url(../../images/sprites.png);
  background-position: -123px 0px;
  width: 16px;
  height: 18px;
}
.sidebar_menu__career a:before {
  background-image: url(../../images/sprites.png);
  background-position: -56px -80px;
  width: 17px;
  height: 18px;
}
.sidebar_menu__career:hover a:before {
  background-image: url(../../images/sprites.png);
  background-position: -29px -80px;
  width: 17px;
  height: 18px;
}
.sidebar_menu__portfolio a:before {
  background-image: url(../../images/sprites.png);
  background-position: -57px -108px;
  width: 18px;
  height: 15px;
}
.sidebar_menu__portfolio:hover a:before {
  background-image: url(../../images/sprites.png);
  background-position: -29px -108px;
  width: 18px;
  height: 15px;
}
