-
	var conts = {
		'email': 'anatoly@mail.ru',
		'tel': '+7 987 345 62 12',
		'skype': 'anatoly_'
	};


header.header
	.header_container
		.header_logo_container
			img(src="images/scrubs.jpg", alt="log").header_logo
			h3.header_name Анатолий Анатольев
		.header_contacts
			.cont_icon Мои контакты
				.cont_wrapper
					.triangle
					ul.cont_pallete
						-each cont, key in conts
							li(class='cont_pallete_#{key}')
								a(href="#") #{cont}



			

