.hello
	.hello_plate
		img(src="./images/scrubs.jpg" alt="hello_photo").img_hello
		.hello_name Анатолий 
		.hello_surname Анатольев
		.hello_button_field
			a(src="#" title="Перейти на сайт").hello_button_goto Перейти на сайт			
			