-
	var cssFile = 'css/index.css';


html
	include ./includes/head.jade

body
	.wrapper
		include ./includes/header.jade

		.container
			main.content
				p.
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis

			include ./includes/sidebar.jade
	.empty

	include ./includes/footer.jade	


