-
	var cssFile = 'css/index.css';
	var title = 'Обо мне';

html
	include ./includes/head.jade

body
	include ./includes/hello.jade
	
	include ./includes/index_base.jade

	include ./includes/footer.jade	

	script(src="./js/hello_vanish.js" type="text/javascript")


