-
	var cssFile = 'css/index.css';


html
	include ./includes/head.jade

body
	.wrapper
		include ./includes/header.jade

		.container
			main.content
				img(src="../images/main_photo.jpg").main_photo
				
				.info
					h1.info_header Обо мне
					p(class="info_text").
						Меня зовут Анатолий. Проживаю в городе Тольятти. В последнее время открыл для себя много интересного в JavaScript и всех сопутствующих тенденциях от Microsoft:ASP.NET 4, Knockout, SignalR, Upshot. Учусь писать тестируемый код на net. Делю логику на классы(стараюсь не забывать SOLID принципы) и тестировать юнит тестами. Хорошо пишу процедуры для MySQL. Чувствую в себе слабое владение client side и поэтому стараюсь восполнить 
		
					a(href="#", title="load_resume").resume_button Скачать резюме	
			include ./includes/sidebar.jade
	.empty

	include ./includes/footer.jade	


